.cart {
  width: 75%;
  margin: 100px auto;
}

.cart-title {
  font-size: 35px;
  font-weight: 700;
}

.cart-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-calc-details {
  margin-top: 50px;
  text-align: right;
  width: 80%;
}

.cart-calc-details h3 {
  font-size: 30px;
  font-weight: 700;
}

.cart-calc-details p {
  font-size: 20px;
  font-weight: 500;
  color: #ef9273;
}

.cart-btn-container {
  margin: 50px auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn-container a {
  text-decoration: none;
}
