/* google font import */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap");

/* common css  */
* {
  font-family: "EB Garamond", serif;
  padding: 0;
  margin: 0;
  background-color: #fef9f8;
}

.common-btn {
  background-color: #ef9273;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.common-btn:hover {
  background-color: #0d0d0d;
}
